.env
.env.*
!.env.example
!.env.production.example
.git
.gitignore

storage/
public/bitacoras_pdf/
public/logs/
public/uploads/
public/**/error_log
*.log
*.bak
*.old
*Zone.Identifier*

public/scripts/vendor/
