.env
.env.*
!.env.example
!.env.production.example

storage/*
!storage/.gitkeep
!storage/bitacoras_pdf/.gitkeep
!storage/logs/.gitkeep

public/bitacoras_pdf/
public/logs/
public/uploads/
public/**/error_log
*.log
*.bak
*.old
*.tmp
*Zone.Identifier*

public/scripts/vendor/
public/scripts/composer.phar
